<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Fund</title>
    {% load static%}
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        window.initializeCarousel = () => {
            $('#carouselExampleSlidesOnly').carousel({ interval: 2000 });
        }
    </script>

</head>

<body>
    <header class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-3">

                </div>
                <div class="col-12 col-sm-6 center-block text-center">

                    <h4>ITUKAMA COVID-19 HEALTHCARE AND SOCIAL SECURITY FUND</h4>
                </div>
                <div class="col-12 col-sm-3 align-self-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                        data-bs-target=".bd-exampleModalCenter-lg">
                        Donate Now
                    </button>

                    <!-- Modal -->
                    <div class="modal fade bd-exampleModalCenter-lg" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Donate Details</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">

                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="donate-tab" data-bs-toggle="tab"
                                                data-bs-target="#donate" type="button" role="tab" aria-controls="donate"
                                                aria-selected="true"><h6 class="text-secondary">DONATE ONLINE</h6></button>
                                        </li>


                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="online-tab" data-bs-toggle="tab"
                                                data-bs-target="#online" type="button" role="tab" aria-controls="online"
                                                aria-selected="false"><h6 class="text-secondary">BANK TRANSFER</h6></button>
                                        </li>

                                    </ul>

                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="donate" role="tabpanel"
                                            aria-labelledby="donate-tab">
                                            <!-- <div class="card"> -->
                                                <div class="card-body">
                                                    <div class="row my-2 modal-title">Donation Amount</div>
                                                    <div class="row mt-5">
                                                       
                                                        <div class="col-3">
                                                            <button type="button"
                                                                class="btn btn-secondary">Rs.500</button>
                                                        </div>
                                                        <div class="col-3">
                                                            <button type="button"
                                                                class="btn btn-secondary">Rs.1000</button>
                                                        </div>
                                                        <div class="col-3">
                                                            <button type="button"
                                                                class="btn btn-secondary">Rs.2000</button>
                                                        </div>
                                                        <div class="col-3">
                                                            <button type="button"
                                                                class="btn btn-secondary">Rs.5000</button>
                                                        </div>
                                                         
                                                        
                                                    </div>
                                                    <div class="row my-5">
                                                        <div class="col-3">
                                                            <button type="button"
                                                                class="btn btn-secondary">Rs.10000</button>
                                                        </div>
                                                        <div class="col-3">
                                                            <button type="button"
                                                                class="btn btn-secondary">Rs.100000</button>
                                                        </div>
                                                        <div class="col-6">
                                                            <textarea style="height: 35px; width:100%" placeholder="enter your own amount"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 text-auto" style="margin-top: -5px;"> <img src="https://img.icons8.com/color/36/000000/visa.png"> <img src="https://img.icons8.com/color/36/000000/mastercard.png"> <img src="https://img.icons8.com/color/36/000000/amex.png"> </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheck">
                                                        <label class="form-check-label" for="flexChec">
                                                            I agree to Itukama's Terms of Service and Privacy Policy
                                                        </label>
                                                      </div>
                                                    <div class="row my-3">
                                                        <button type="button" class="col-12 btn btn-warning">Make Donate</button>
                                                    </div>
                                                </div>
                                            <!-- </div> -->
                                        </div>
                                        <div class="tab-pane fade" id="online" role="tabpanel" aria-labelledby="online-tab">
                                            <div class="card-body">
                                        <div class="row my-1">
                                            <p>A special account had been opened at the Corporate Branch of the Bank of
                                                Ceylon under the account name '</p>
                                                <strong>“ITUKAMA
                                                    COVID-19 HEALTHCARE AND SOCIAL SECURITY FUND”.</strong>
                                            
                                        </div>
                                        <div class="row my-1">
                                            <address>Bank Details<br/>
                                                Bank of Ceylon<br/>
                                                A/C No.: 85737373<br/>
                                                Bank Code: 7010<br/>
                                                Corporate Branch Code: 660<br/>
                                                Swift Code: BCEYLKLX</address>
                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <div class="row">
                        You can donate now on your Mobile by dialing #207#
                        <div class="col-md-12 text-auto" style="margin-top: -5px;">
                            <img src="">
                            <img src="">
                            <img src="">
                            <img src="">
                        </div>
                        </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>
    <!-- <div class="container"> -->
    <div class="row align-items-center">
        <div class="col-12 col-sm-4">
        </div>
        <div class="col-12 col-sm-8">
            <div class="card">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card">
                            <img src="{%static '/img1.png'%}" class="d-block w-100 h-120" alt="">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                            <img src="{%static '/img2.png'%}" class="card-img-top d-block w-100 h-120" alt="...">
                            <div class="card-body">
                               <p> The COVID-19 Healthcare & Social Security Fund received more donations from public & private sector
                                <small>May 3, 2020</small></p>
                            </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                            <img src="{%static '/img7.png'%}" class="d-block w-100 h-120" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div>  -->

    <!-- {%for i in response%}
                                                {%endfor%} -->

    <!-- Button trigger modal -->


    <!-- Modal -->

</body>

</html>